body
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;  
}
#bloc_page
{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
ul
{
    list-style-type: none;
}
#logo_booki
{
    
    max-height: 19px;
}
h1
{
    font-size: 22px;
}
h2
{
    font-size: 16px;
    font-weight: normal;
}
h3
{
    font-size: 18px;
}
.lodging_name
{
    font-weight: bold;
    font-size: 16px;
}
section
{
    padding: 2%;
}

.loc
{ 
    font-size: 18px;
    width: 332px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid #F2F2F2;  
    border-radius: 15px;
}
.fa-location-dot
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
}
#buton
{
    position: absolute;
    left: 341px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 14px;
    font-size: 18px;
    font-style: bold ;
    color: #FFFFFF;
    text-align: center; 
 }   
header
{
    padding: 2%;
}
.menu
{
    display: flex;   
    justify-content: space-between; 
    padding-bottom: 10px;
}
.menu_list
{
    font-size: 16px;
    display: flex;
    flex-direction: row;  
    gap: 30px;  
}

.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    margin-top: 25px;
}
.filtres i
{
    color: #0065FC;
}
.filtre
{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px;
    gap: 8px;
}
.filtres :hover
{
    background-color: #DEEBFF;
}
.fa-info
{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    padding: 7px 12px;
}
#info
{
    display: flex;
    align-items: center;
    gap: 20px;
}
aside
{
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    float: right;
    margin-right: 50px;
}
aside i
{
    color: #0065FC;
}
#all_boxes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box_hebergement_pop
{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
    height: 144px;
    width: 343px;
    padding: auto;
    padding-bottom: 3%;
    font-size: 14px;
}
.box_hebergement_pop img
{
    max-width: 95%; 
    height: 144px;
    width: 137px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
    float: left;
    object-fit: cover;
    box-shadow: 0px 3px 15px #D9D9D9;
    
}
#hebergements img
{
    object-fit: cover;
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    
}
section h1
{
    margin-left: 40px;
    padding-top: 30px;
}
#hebergements
{   
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 626px;
    width: 880px;
    margin-left: 50px;
}
#all_box
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box_hebergement
{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
    height: 199px;
    width: 246px;
    padding: 5px;
    font-size: 14px;
    box-shadow: 0px 3px 15px #D9D9D9;
}
.show_more
{
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}
.fa-blue
{
    color: #0065FC;
}
.fa-grey
{
    color: #D9D9D9;
}
#activities
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    border-radius: 20px;
    margin: 5%;
}
.box_activity img
{
    width: 302px;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}
.box_activity
{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 302px;
    height: 444.51px;
    box-shadow: 0px 3px 15px #D9D9D9;
    
}
.box_activity p
{
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 19px;
    font-weight: 700px;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

